.cart-items {
  margin-top: 5px;
  .cart-item {
    height: 60px;
    img {
      height: 50px;
      width: 85px;
      margin-top: 5px;
    }
    .title {
      margin-top: 20px;
      width: 50%;
      @media (min-width: 320px) {
        width: 120px;
      }
      @media (min-width: 360px) {
        width: 160px;
      }
      @media (min-width: 375px) {
        width: 170px;
      }
      @media (min-width: 384px) {
        width: 180px;
      }
      @media (min-width: 414px) {
        width: 210px;
      }
    }
    .amount {
      margin-top: 20px;
    }
  }
}