.checkout {
  .title {
    background: none;
    display: inline-block;
    width: 55%;
    height: auto;
    min-width: 0;
    min-height: 0;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
}