.custom-page {
  .title {
    background: none;
    display: inline-block;
    width: 55%;
    height: auto;
    min-width: 0;
    min-height: 0;
    color: #4f1e00;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  em {
    font-weight: bold;
    color: #4f1e00;
  }
  ul {
    list-style: none;
    li:before {
      //content: '- ';
    }
  }
}