header {
  background: #92442d; /* Old browsers */
  background: -moz-linear-gradient(top, #92442d 0%, #7e2922 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92442d), color-stop(100%, #7e2922)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #92442d 0%, #7e2922 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #92442d 0%, #7e2922 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #92442d 0%, #7e2922 100%); /* IE10+ */
  background: linear-gradient(to bottom, #92442d 0%, #7e2922 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92442d', endColorstr='#7e2922', GradientType=0); /* IE6-9 */
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  * {
    text-align: center;
    float: left;
  }
  .vertical-line {
    height: 90%;
    width: 0.5%;
    min-width: 1px;
  }
  .menu-burger-button {
    margin-left: 3%;
    margin-right: 3%;
    width: 5%;
    margin-top: 16px;
    border-bottom: 16px double white;
    border-top: 5px solid white;
    height: 6px;
  }
  div:nth-child(3) {
    margin-left: 5px;
    margin-top: 10px;
    width: 50%;
  }
  .title, .sale {
    color: white;
    text-decoration: none;
    margin: 0 auto;
    float: none;
  }
  .title {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 10px;
  }
  .sale {
    font-size: 0.75rem;
    span {
      float: none;
      color: yellow;
      padding-right: 5px;
    }
  }
  .cart {
    float: right;
    width: 35%;
    img {
      margin-top: 10px;
      margin-right: 4px;
      height: 40px;
    }
    p {
      margin-top: 22px;
      color: #ffa394;
      text-align: center;
      float: none;
      font-size: 1.05rem;
      font-weight: 700;
    }
  }
}