.item-selected {
  margin-top: -5px;
  .to-cart, .to-details {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 35%;
  }
  .to-cart {
    background: linear-gradient(to top, #8f4a3a 0%, #823628 100%);
  }
  .to-details {
    background: linear-gradient(to top, #6b5750 0%, #5d443f 100%);
  }
}