.items {
  .category {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .item {
    text-align: start;
    background-color: #fef3bd;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 2%;
    width: 96%;
    max-height: 95px;
    * {
      float: left;
    }
    img {
      height: 85px;
      width: 125px;
      margin-right: 5px;
    }
    .title {
      padding: 0;
      background: none;
      display: inline-block;
      width: 40%;
      height: auto;
      max-height: 57px;
      min-width: 0;
      min-height: 0;
      color: #000000;
      font-size: 1.1rem;
      font-weight: 700;
      margin: 8px 0 0;
      @media (min-width: 320px) {
        width: 120px;
      }
      @media (min-width: 360px) {
        width: 160px;
      }
      @media (min-width: 375px) {
        width: 170px;
      }
      @media (min-width: 384px) {
        width: 180px;
      }
      @media (min-width: 414px) {
        width: 210px;
      }
    }
    .description {
      width: 40%;
      min-height: 40px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 13px;
      font-size: 14px;
      @media (min-width: 320px) {
        width: 120px;
      }
      @media (min-width: 360px) {
        width: 160px;
      }
      @media (min-width: 375px) {
        width: 170px;
      }
      @media (min-width: 384px) {
        width: 180px;
      }
      @media (min-width: 414px) {
        width: 210px;
      }
    }
    .amount {
      background-color: #7f2b20;
      border: none;
      padding: 6px 8px;
      margin-right: 5px;
      margin-top: 20px;
      font-size: 0.8rem;
      float: right;
      min-height: 16px;
      min-width: 36px;
    }
    .weight {
      font-size: 0.85rem;
      margin-top: 10px;
      float: right;
      margin-right: 10px;
      @media (min-width: 465px) {
        margin-top: 0;
      }
      @media (min-width: 629px) {
        margin-top: 10px;
      }
      @media (min-width: 685px) {
        margin-top: 25px;
      }
    }
  }
  .item.selected {
    background-color: #eee0a3;
  }
}