.item-big {
  img {
    width: 100%;
  }
  .about {
    margin-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    .title {
      text-align: start;
      margin: 0;
      padding: 0;
      background: none;
      display: inline-block;
      height: auto;
      min-width: 0;
      min-height: 0;
      color: #000000;
      font-size: 1.1rem;
      font-weight: 700;
      float: left;
      width: 100%;
    }
    .description {
      text-align: start;
      display: inline-block;
      width: 70%;
      float: left;
    }
    .weight {
      float: right;
    }
    .xz {
      position: fixed;
      bottom: 0;
      background-color: #EEE0A3;
      width: 100%;
      height: 50px;
      left: 0;
      .back {
        float: left;
        margin-top: 5px;
      }
      .amount {
        font-size: large;
        font-weight: 700;
        margin-top: 15px;
        display: inline-block;
      }
      .to-cart {
        float: right;
        margin-top: 5px;
        background-color: #793a28;
      }

    }

  }
}