.login {
  .title {
    padding: 0;
    background: none;
    display: inline-block;
    width: 55%;
    height: auto;
    min-width: 0;
    min-height: 0;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 8px 0;
  }
  input[type='button'] {
    width: 40%;
    margin: 10px;
  }
}