.menu-left {
  background-color: #873829;
  position: fixed;
  top: 0;
  left: -350px;
  min-width: 250px;
  z-index: 1;
  height: 100%;
  &.right {
    animation: move-left-menu-right 350ms linear;
    left: 0;
  }
  &.left {
    animation: move-left-menu-left 350ms linear;
  }
  .nav {
    padding: 5%;
    input[type='button'] {
      border: 2px solid #ffffff;
      font-size: 0.8rem;
      min-height: 30px;
    }
    input[type='button']:nth-child(1) {
      margin-right: -2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    input[type='button']:nth-child(2) {
      margin-left: -2px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  ul {
    display: none;
    width: 100%;
    padding-left: 0;
    overflow: scroll;
    margin: 0;
    li {
      padding-left: 11%;
      list-style-type: none;
      color: #ffffff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding-top: 8px;
      padding-bottom: 8px;
    }
    li.tag {
      padding-left: 8%;
      font-weight: 700;
    }
  }
  ul.active {
    display: inline-block;
  }
}

header.right {
  animation: move-top-menu-right 350ms linear;
  left: 250px;
}

header.left {
  animation: move-top-menu-left 350ms linear;
}