.pizza {
  .top {
    text-align: start;
    background-color: #fef3bd;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 2%;
    width: 96%;
    max-height: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    .title {
      text-align: center;
      margin-top: 0 !important;
      font-size: 1.25rem;
    }
    img {
      width: 100px;
      height: inherit;
      margin-right: 5px;
    }
    .table {
      min-width: 65%;
      float: right !important;
      table {
        min-height: 90px;
        width: 100%;
      }
      span {
        margin-top: 6px;
      }
    }
    button {
      min-height: 30px;
    }
  }
  .item {
    .description, .title {
      @media (min-width: 320px) {
        width: 105px;
      }
      @media (min-width: 360px) {
        width: 145px;
      }
      @media (min-width: 375px) {
        width: 160px;
      }
      @media (min-width: 384px) {
        width: 165px;
      }
      @media (min-width: 414px) {
        width: 190px;
      }
    }
    .buttons {
      margin-top: 5px;
      button {
        margin-top: 5px !important;
      }
    }
  }
  .item-selected {
    button {
      width: 15%;
    }
  }
}