.popup {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  .bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .c {
    width: 300px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    div {
      margin-top: 35px;
    }
    ul {
      display: inline-block;
      padding: 0;
      width: 240px;
      height: 40px;
      border-radius: 5px;
      white-space: nowrap;
      border: 1px solid rgba(255, 255, 255, 0.2);
      overflow-x: scroll;
      li {
        line-height: 40px;
        display: inline-block;
        list-style: none;
        height: 38px;
        width: 35px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        text-align: center;
      }
    }
  }
}