body {
  background: url("../img/bg1.png") repeat;
  margin: 0 auto;
}

.vertical-line {
  background-repeat: repeat;
  min-height: 1px;
  min-width: 2px;
  width: 2px;
}

.gradient-black {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#1a000000', GradientType=0);
}

.gradient-white {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff', endColorstr='#1affffff', GradientType=0);
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-red {
  background-color: #873829;
}

.bg-yellow {
  background-color: #f6cf2a;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.yellow {
  color: #f6cf2a;
}

.red {
  color: #793a28;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.max-width {
  width: 90% !important;;
  margin: 10px !important;
  padding: 5px !important;;
}

.inline-block {
  display: inline-block;
}

.text-start {
  text-align: start;
}

.bold {
  font-weight: 700;
}

.content {
  margin-top: 60px;
  text-align: center;
  .main {
    .logo {
      margin-top: 25px;
      width: 80%;
    }
    .buttons {
      width: 90%;
      margin: 10px auto 5px;
      input[type='button'] {
        background: #fae997; /* Old browsers */
        background: -moz-linear-gradient(top, #fae997 0%, #f4ce23 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fae997), color-stop(100%, #f4ce23)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fae997 0%, #f4ce23 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fae997 0%, #f4ce23 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fae997 0%, #f4ce23 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fae997 0%, #f4ce23 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae997', endColorstr='#f4ce23', GradientType=0); /* IE6-9 */
        border-radius: 10px;
        border: none;
        box-shadow: 0 1px 2px #666666;
        color: #000100;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        max-height: 70px;
        width: 47%;
        height: 70px;
        margin-top: 5px;
      }
    }
    .title {
      margin-top: 10px;
      margin-bottom: 5px;
      background: #92442d; /* Old browsers */
      background: -moz-linear-gradient(top, #92442d 0%, #7e2922 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92442d), color-stop(100%, #7e2922)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #92442d 0%, #7e2922 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #92442d 0%, #7e2922 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #92442d 0%, #7e2922 100%); /* IE10+ */
      background: linear-gradient(to bottom, #92442d 0%, #7e2922 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92442d', endColorstr='#7e2922', GradientType=0); /* IE6-9 */
      display: inline-block;
      width: 100%;
      height: 30px;
      padding-top: 10px;
      color: white;
      font-size: 1.2rem;
    }
    .ad {
      img {
        width: 90%;
      }
    }
    .contacts {
      text-align: start;
      margin: 0 20px;
      div strong {
        margin-right: 5px;
      }
      .address {
        margin-top: 30px;
      }
      #map {
        height: 270px;
        border: 3px solid #f6d13a;
        margin-bottom: 15px;
      }
    }
  }
}

.sale-main {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 15%;
  width: 100%;
  * {
    font-size: large;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 6rem;
  }
  .amount {
    margin-top: 50px;
    font-size: 6rem;
  }
  .date {
    margin-top: 0;
  }
  .description {
    margin-top: 60px;
  }
  a {
    margin-top: 60px;
    display: inline-block;
    text-decoration: none;
  }
}

.sale-top {
  background-color: #fef3bd;
  border-radius: 10px;
  display: inline-block;
  padding: 5px 2%;
  width: 96%;
  text-align: start;
  .amount, .issue {
    float: right;
    margin-right: 10px;
  }
  .issue {
    margin-top: 4px;
  }
  .amount {
    font-weight: 700;
  }
  .amount-new, .amount-old {
    margin-left: 10px;
  }
  .amount-old {
    text-decoration: line-through;
    font-weight: 700;
  }
  .amount-new {
    span {
      margin-right: 5px;
    }
  }
}

.ajax-iframe {
  display: none;
}

input:focus, textarea:focus, button:focus, select {
  outline: 0 none;
}

button, input[type='button'], input[type='submit'] {
  border: none;
  min-width: 100px;
  min-height: 40px;
  font-size: medium;
  border-radius: 10px;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea, input[type='text'], select {
  width: 90%;
  background-color: #fff9db;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

textarea {
  height: 120px;
  resize: none;
}

input[type='text'] {
  height: 30px;
}

@keyframes move-top-menu-right {
  0% {
    left: 0;
    animation-timing-function: ease-in;
  }
  100% {
    left: 250px;
  }
}

@keyframes move-top-menu-left {
  0% {
    left: 250px;
    animation-timing-function: ease-in;
  }
  100% {
    left: 0;
  }
}

@keyframes move-left-menu-right {
  0% {
    left: -250px;
    animation-timing-function: ease-in;
  }
  100% {
    left: 0;
  }
}

@keyframes move-left-menu-left {
  0% {
    left: 0;
    animation-timing-function: ease-in;
  }
  100% {
    left: -250px;
  }
}


button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
