//= template/header.html
<div class="content">
    <div class="cart-items items">
        <div class="sale-top">
            <img class="left" src="img/Jtsuytsu.png">

            <div class="left">
                <span class="amount-old">10 020 р</span>
                <br>
                <span class="amount-new"><span>Скидка</span><span class="sale">20%</span><span class="sale-amount">(650 р)</span></span>
            </div>
            <div class="right">
                <span class="amount red">8 000 р</span>
                <br>
                <a class="issue red">Оформить</a>
            </div>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <button class="amount white">1 x220 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <button class="amount white">1 x220 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <button class="amount white">1 x220 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <button class="amount white">1 x220 р</button>
        </div>
        <div class="category">Дополнительно</div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
        <div class="cart-item item">
            <img src="img/item.jpg">

            <div class="title">Приправа</div>
            <button class="amount white">+40 р</button>
        </div>
    </div>
</div>
//= template/footer.html