//= template/header.html
<div class="content">
    <div class="checkout">
        <div class="title">Оформление заказа</div>
        <input type="text" disabled placeholder="Телефон">
        <input type="text" placeholder="Имя">
        <textarea placeholder="Адрес доставки"></textarea>
        <textarea placeholder="Коментарий"></textarea>
        <input class="bg-red white max-width" type="submit" value="Оформить заказ">

        <div class="title left max-width text-start inline-block">График работы доставки:</div>
        <p class="left max-width text-start inline-block">Вс - Чт с 11:00 до 23:00<br>Пт - Сб с 11:00 до 5:00</p>

        <div class="title left max-width text-start inline-block">Бесплатная доставка:</div>
        <p class="left max-width text-start inline-block">+7 (496) 46 7-25-25; +7 (496) 46 3-09-03</p>
    </div>
</div>
//= template/footer.html