//= template/header.html
<div class="content item-big">
    <img src="img/akc.png">

    <div class="about">
        <span class="title">Шашлык МИКС</span>
        <span class="description">из баранины, телятины и овощей</span>
        <span class="weight">270 гр.</span>

        <div class="xz">
            <span class="amount red">220 руб.</span>
            <button class="to-cart white">В корзину</button>
        </div>
    </div>
</div>
//= template/footer.html