//= template/header.html
<div id="content" class="content">
    <div class="items">
        <div class="category">Хиты</div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item selected">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
            <div class="buttons"></div>
        </div>
        <div class="item-selected">
            <button class="to-cart white">В корзину</button>
            <button class="to-details white">Детали</button>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
        <div class="item">
            <img src="img/item.jpg">

            <div class="title">Овощной букет</div>
            <div class="description">Свежие помидоры, огурчики, болгарский перчик</div>
            <button class="amount white">220 р</button>
            <div class="weight black">270 гр.</div>
        </div>
    </div>
</div>
//= template/footer.html