//= template/header.html
<div class="content">
    <div class="login">
        <div class="title">Вход</div>
        <input type="text" placeholder="Телефон">
        <input class="bg-red white" type="button" value="Вход">
        <input class="bg-red white" type="button" value="Регистрация">
    </div>
    <div class="popup">
        <div class="bg"></div>
        <div class="c">
            <div class="max-width">Регистрация прошла успешно</div>
            <button class="max-width bg-red white">Закрыть</button>
        </div>
    </div>
</div>
//= template/footer.html