//= template/header.html
<div class="content">
    <div class="pizza items">
        <div class="top">
            <div class="title max-width bold">Собери свою пиццу</div>
            <img class="left" src="img/pizza.png">

            <div class="right red table">
                <table>
                    <tr>
                        <td>1/4</td>
                        <td>Мясной пир</td>
                        <td>145 р.</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>1/4</td>
                        <td>Мясной пир</td>
                        <td>145 р.</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>1/4</td>
                        <td>Мясной пир</td>
                        <td>145 р.</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>1/4</td>
                        <td>Мясной пир</td>
                        <td>145 р.</td>
                        <td>X</td>
                    </tr>
                </table>
                <button class="bg-red white">Заказать</button>
                <span class="red bold right">Итого: 850 р.</span>
            </div>
        </div>
        <div class="item selected">
            <img class="xz"
                 src="//dev1.cm.redprojects.tk/LP/data/php/getData.php?method=resizeImage&amp;url=http://l-polyana.info/file/katalog/gavaiskay1414676181.889.jpg&amp;w=125&amp;h=85">

            <div class="title">Гавайская</div>
            <div class="buttons right">
                <button class="amount white">1/2 850 р</button>
                <br>
                <button class="amount white">1/4 580 р</button>
            </div>
            <div class="description">пицца-соус, сыр "Моцарелла", ветчина, ананас, маслины, зелень</div>
            <div class="weight black"></div>
        </div>
        <div class="item-selected">
            <button class="to-cart white">1/2</button>
            <button class="to-cart white">1/4</button>
            <button class="to-details white">Детали</button>
        </div>
        <div class="item">
            <img class="xz"
                 src="//dev1.cm.redprojects.tk/LP/data/php/getData.php?method=resizeImage&amp;url=http://l-polyana.info/file/katalog/gavaiskay1414676181.889.jpg&amp;w=125&amp;h=85">

            <div class="title">Гавайская</div>
            <div class="buttons right">
                <button class="amount white">1/2 850 р</button>
                <br>
                <button class="amount white">1/4 580 р</button>
            </div>
            <div class="description">пицца-соус, сыр "Моцарелла", ветчина, ананас, маслины, зелень</div>
            <div class="weight black"></div>
        </div>
    </div>
</div>
//= template/footer.html