//= template/header.html
<div class="content">
    <img class="logo" src="img/logo.png">

    <div class="buttons">
        <input type="button" value="Меню">
        <input type="button" value="Трактир">
        <input type="button" value="Баня">
        <input type="button" value="Гостиница">
    </div>
    <span class="title">Акции</span>

    <div class="ad">
        <img src="img/akc.png">
    </div>
    <span class="title">Контакты</span>

    <div class="contacts">
        <div><strong>Заказ банкета:</strong>(496)465-22-89</div>
        <div><strong>Доставка блюд:</strong>(496)467-25-25</div>
        <div><strong>Гостиница, Баня:</strong>(496)467-77-37</div>
        <div class="address">г. Раменское, ул. Королёва, д.27А</div>

        <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <div id="map"></div>
        <script>
            ymaps.ready(init);
            function init() {
                var myMap = new ymaps.Map('map', {
                    center: [55.589091, 38.203795],
                    zoom: 17
                });
                myMap.geoObjects.add(new ymaps.Placemark([55.589091, 38.203795]));
            }
        </script>
    </div>
</div>
<div class="sale-main">
    <span class="close white">X</span>

    <div class="amount yellow">20%</div>
    <p class="date yellow">Ваша скидка закончится через 1 день, поторопитесь!</p>

    <p class="description white">Сделав заказ на доставку любых блюд в течении 14 дней вы получите скидку 20%</p>
    <a class="yellow" href="#">Условия акции</a>
</div>
//= template/footer.html